/* Styling related to the <body>, top bar, side bar, and main page content
 */

@media screen and (max-width: 45rem) {
  body#onionskin-full-frame {
    display: block;
  }

  aside#onionskin-left-sidebar {
    display: block;
  }

  main#onionskin-main-content {
    display: block;
  }
}

@media screen and (min-width: 45rem) {
  body#onionskin-full-frame {
    display: grid;
    grid-template-columns: 18rem 1fr;
  }

  aside#onionskin-left-sidebar {
    grid-column: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    height: 100vh;
    max-width: 18rem;
  }

  aside#onionskin-left-sidebar div.onionskin-left-sidebar-spacer {
    padding-bottom: 2em;
  }

  main#onionskin-main-content {
    grid-column: 2;
  }
}


@media screen and (min-width: 90rem) {
  body#onionskin-full-frame {
    grid-template-columns: 22rem 1fr;
  }

  aside#onionskin-left-sidebar {
    max-width: 22rem;
  }
}
