{{ if eq (default "light" .Site.Params.OnionskinTheme) "light" }}
<!-- Theme CSS -->
<style>
  {{- (resources.Get "theme/light.css" | resources.ToCSS | minify | resources.Fingerprint).Content | safeCSS }}
</style>
<!-- iOS overscroll area -->
<meta name="theme-color" content="#FFFFFF">
{{ else }}
<!-- Theme CSS -->
<style>
  {{- (resources.Get "theme/dark.css" | resources.ToCSS | minify | resources.Fingerprint).Content | safeCSS }}
</style>
<!-- iOS overscroll area -->
<meta name="theme-color" content="#000000">
{{ end }}