{{ define "main" }}
  {{ if eq .Section "posts" }}
    <h1>Blog Posts</h1>
    <ul class="post-list">
    {{ range .Pages.ByDate.Reverse }}
      <li class="post-item">
        <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}</span>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <div class="post-summary">{{ .Summary }}</div>
      </li>
    {{ end }}
    </ul>
  {{ else }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <ul>
    {{ range .Pages }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul> 
  {{ end }}
{{ end }}