---
---

@import "{{ site.theme }}";

.page-header {
  padding: 1em;
  background-image: url("obs.png") no-repeat center center;
  background-color: #cccccc;
  background-size: cover;
  opacity:0.5;

}

.project-name {
  color: blue;


}


